<style>
	.red {
		color: red;
	}
</style>
<img src="{{ email.image('@email_images/key.png') }}" alt="">
<p class="red">Bonjour
	{{ user.email }}</p>
<p>Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant :
	<a href="{{ url|raw }}">{{ url|raw }}</a>
</p>
<p>Merci</p>
